body {
  font-family: Arial;

  /*width: 50%;*/
  max-width: 210mm; /*A4 paper width*/
  padding-left: 10px;
  margin: auto;
}

ul {
  list-style-type: disc;
}

li > ul {
  list-style-type: circle;
}

p {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 15px;
}

a {
  color: #bb0000;
}
